@font-face {
  font-family: Montserrat-Black;
  src: url(../montserrat/Montserrat-Black.otf);
}
@font-face {
  font-family: Montserrat-SemiBold;
  src: url(../montserrat/MontserratAlternates-SemiBold.otf);
}
html {
  overflow: hidden;
}

body {
  background: #fff;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #abacae;
  line-height: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-size: 38px;
  color: #222222;
  font-weight: 700;
  font-family: "Arvo", serif;
}

a {
  font-size: 14px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
a:hover {
  text-decoration: none;
}
a a:focus {
  outline: none;
}

p {
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  font-size: 14px;
}

ul,
ol {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
ul li,
ol li {
  list-style: none;
}

a:not([href]):not([tabindex]) {
  color: #fff;
}

.padding-none {
  padding: 0px;
}

.btn {
  font-size: 14px;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: 400;
  color: #fff;
  border-radius: 30px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
}

.btn-primary {
  border-radius: 100rem;
  font-family: Montserrat-SemiBold, sans-serif;
  padding: 0.5rem 3rem;
  color: #515151;
  border: solid 1px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #FD8F7E, #FD5580);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
}

.btn:hover {
  box-shadow: none;
  color: #fff;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #FD8F7E, #FD5580);
  border: none;
}

button:focus {
  outline: none !important;
}

@keyframes animationSocialIcon1 {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(360deg);
  }
}
@keyframes animationSocialIcon2 {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(-360deg);
  }
}
.social-icon {
  position: absolute;
  top: 67%;
  left: 1%;
}
.social-icon a {
  color: #fff !important;
  font-size: 30px;
  margin: 28px 6px 12px 4px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}
.social-icon a:nth-of-type(1):hover {
  animation: animationSocialIcon1 10s infinite linear;
}
.social-icon a:nth-of-type(2):hover {
  animation: animationSocialIcon2 10s infinite linear;
}
.social-icon a:nth-of-type(3):hover {
  animation: animationSocialIcon1 10s infinite linear;
}
.social-icon a:hover {
  color: #fff !important;
}

/* ScrollToTop */
a.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
  text-decoration: none;
}
a.back-to-top i {
  display: block;
  font-size: 22px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  border-radius: 30px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}
a.back-to-top:hover, a.back-to-top:focus {
  text-decoration: none;
}

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 9999999;
}

.loader {
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

#loader-1:before,
#loader-1:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 7px solid transparent;
}

#loader-1:before {
  z-index: 100;
  animation: spin 1s infinite;
}

#loader-1:after {
  border: 7px solid #f2f2f2;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.flex-direction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.shapes .shape_1 {
  position: absolute;
  top: 90%;
  left: 90%;
}

.navbar {
  padding: 10px 0;
}

@keyframes animationFramesOne {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
    transform: translate(73px, -1px) rotate(36deg);
  }
  40% {
    transform: translate(141px, 72px) rotate(72deg);
  }
  60% {
    transform: translate(83px, 122px) rotate(108deg);
  }
  80% {
    transform: translate(-40px, 72px) rotate(144deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
@keyframes animationcommingletter {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  10% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  30% {
    transform: translate(-73px, 3px) rotate(36deg);
  }
  50% {
    transform: translate(-141px, -72px) rotate(72deg);
  }
  70% {
    transform: translate(-83px, -122px) rotate(108deg);
  }
  85% {
    transform: translate(-40px, -72px) rotate(144deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
.shapes .shape_1 {
  position: absolute;
  top: 90%;
  left: 90%;
}
.shapes .shape_2 {
  position: absolute;
  top: 45%;
  left: 46.96%;
  animation: animationcommingletter 15s infinite linear;
}
.shapes .shape_3 {
  position: absolute;
  top: 69%;
  left: 21%;
  animation: animationFramesOne 25s infinite linear;
}
.shapes .shape_4 {
  position: absolute;
  top: 80%;
  left: 74%;
  animation: animationFramesOne 30s infinite linear;
}
.shapes .shape_5 {
  position: absolute;
  top: 50%;
  left: -1%;
  width: 180px;
}

.coming-soon {
  width: 400px;
  height: 220px;
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
.coming-soon h1 {
  font-family: Montserrat-Black, sans-serif;
  font-size: 60px;
  color: #515151;
  margin-bottom: 5%;
}
.coming-soon hr {
  height: 19px;
  background-image: linear-gradient(90deg, #FD8F7E, #FD5580);
  width: 269px;
  position: relative;
  top: 66px;
  left: 89px;
  z-index: -1;
}
.coming-soon .btn {
  padding-top: 2%;
  margin-bottom: 7%;
}

/*# sourceMappingURL=main.css.map */
